<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggh.bbs.mapper.BoardMapper">
 	
	<insert id="boardWrite" parameterType="com.ggh.bbs.dto.BoardDTO" useGeneratedKeys="true" keyProperty="b_id">
 		INSERT INTO ggh_bbs.board(b_title, b_content, b_writer, b_nick)
 		 VALUES(#{b_title}, #{b_content}, #{b_writer}, #{b_nick})
 	</insert>
  	
  	<select id = "boardCnt" resultType="int" parameterType="com.ggh.bbs.dto.Search">
        SELECT count(*) FROM ggh_bbs.board
        	<trim prefix="WHERE" prefixOverrides="AND|OR">
				<if test="searchType=='title' and keyword != null and keyword != '' ">
					AND b_title like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='content' and keyword != null and keyword != '' ">
					AND b_content like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='all' and keyword != null and keyword != '' ">
					AND b_title like CONCAT('%', #{keyword}, '%') OR b_content like CONCAT('%', #{keyword}, '%')
				</if>	
			</trim>
    </select>
  	
 	<select id = "boardView" parameterType="int" resultType="com.ggh.bbs.dto.BoardDTO">
        SELECT * FROM ggh_bbs.board WHERE b_id = #{b_id}
    </select>
    
	<select id="boardList" resultType="com.ggh.bbs.dto.BoardDTO" parameterType="com.ggh.bbs.dto.Search">
		SELECT * FROM ggh_bbs.board
			<trim prefix="WHERE" prefixOverrides="AND|OR">
				<if test="searchType=='title' and keyword != null and keyword != '' ">
					AND b_title like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='content' and keyword != null and keyword != '' ">
					AND b_content like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='all' and keyword != null and keyword != '' ">
					AND b_title like CONCAT('%', #{keyword}, '%') OR b_content like CONCAT('%', #{keyword}, '%')
				</if>	
			</trim>
		ORDER BY b_id DESC LIMIT #{pageStart}, #{perPageNum}	
	</select>
 	
	<delete id="boardDelete" parameterType="int">
		DELETE FROM ggh_bbs.board WHERE b_id = #{b_id}
	</delete>
 	
	<update id="updateHit" parameterType="int"> 
		UPDATE ggh_bbs.board SET b_hit = b_hit+1 WHERE b_id = #{b_id} 
	</update>
 	
	<update id="boardUpdate" parameterType="com.ggh.bbs.dto.BoardDTO"> 
		UPDATE ggh_bbs.board SET b_title = #{b_title}, b_content = #{b_content} WHERE b_id = #{b_id}
	</update>
 	
</mapper> 